* {
    box-sizing: border-box;
    text-align: center;
  }
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
#position{
    position: fixed;
    left: 15%;
}
header{
    background-color: #ebebeb;
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 80px;
}
#nav{
    background-color: #ebebeb;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    height: 80px;
}
#section {
    background-color: #ebebeb;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    width: 495px;
    float: left;
    height: 250px;
}
#article{
    color: #ebebeb;
    background: #777;
    text-align: center;
    margin-top: 30px;
    margin-left: -20px;
    height: 160px;
    width: 475px;
    padding: 10px;
    clear: both;
}
#inside1 {
    color: #777;
    background-color: #ebebeb;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 445px;
    float: left;
}
#inside2 {
    color: #777;
    background-color: #ebebeb;
    text-align: center;
    margin-left: 5px;
    padding: 15px;
    width: 445px;
    float: left;
}
#aside {
    background-color: #ebebeb;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 30px;
    float: left;
    width: 420px;
    height: 250px;
}
footer {
    clear: both;
    padding: 30px;
    background-color: #ebebeb;
    text-align: center;
    margin-top: 10px;
    height: 80px;
}